*.o
*.lo
*.la
*.class
.deps
.dirstamp
.libs
stamp-*
/.indent.pro
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/classnoinst.stamp
/coda.h
/codacheck
/codacmp
/codadd
/codadump
/codaeval
/codafind
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/html/java
/doc/html/libcoda
/findtypedef
/findtypedef.c
/fortran/Makefile
/idl/coda_idl.dlm
/install-sh
/java/build.xml
/java/coda.jar
/java/doc/Doxyfile
/libcoda/coda-expr-parser.c
/libcoda/coda-expr-parser.h
/libcoda/coda-expr-tokenizer.c
/libcoda/doc/Doxyfile
/libtool
/ltmain.sh
/m4/depend.am
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/py-compile
/windows/build.xml
/windows/coda.h
/windows/codawin32.iss
/windows/codawin64.iss
/windows/config.h
/windows/readme.txt
/windows/setup.py
/ylwrap
